@import 'foundation-sites';
@import 'settings';

@font-face {
    font-family: Segoe;
    src: url("../fonts/segoeui.ttf");
}

body{
	font-family: Segoe;
}

.top-bar {
    position: relative;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #a06248;
    padding: 0;
    color: white;
}

#isobar_logo {
    height: 70px;
    margin-left: 10px;
}

#contact {
	 margin-right: 10px;
	 margin-top:20px;
	 font-size:20px;
}

#contactFormClose{
	position: absolute;
    top: -4px;
    right: 10px;
    font-size: 30px;
}

.top-bar-center{
	position: relative;
    left: 30%;
    top: 16px;
}
#searchbar{
	margin-top:30px;
	background-color:white;
	text-align:center;
	border-bottom-color:#a06248;
	border-left-color:white;
	border-right-color:white;
	border-top-color:white;
	// border-left-color:#a06248;
	// border-right-color:#a06248;
	color:#a06248;
	box-shadow: inset 0px 0px 0px #000;
}

#loginbox{
	margin-top:50px;
}
.row .links{ 
	text-align:center;
	
	a{
		color:#a06248;
		text-decoration:underline;
		font-weight:bold;
		text-align:center;
	}
}

#admin{
	margin-right: 20px;
	margin-top:20px;
	font-size: 20px;
	color:white;
}
